/*mixins*/
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 0;
}

body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #444;
  background-color: #fff;
  width: 100%;
  letter-spacing: .4px;
  margin: 0;
  overflow-x: hidden;
}

/* Header */
.header-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  justify-content: left;
  margin-left: 0;
  text-transform: uppercase;
  padding-top: 20px;
}

.header-logo {
  display: flex;
  flex-wrap: wrap;
  max-width: 55%;
  height: auto;
  margin-top: 4px;
  padding: 5px 0;
  margin-right: 20px;
  margin-left: 10px;
}

.header-logo .logo {
  justify-content: left;
  max-width: 100%;
  max-height: 70px;
  padding-right: 5px;
}

.action {
  display: flex;
  flex-direction: row;
  height: auto;
  right: 0;
  padding-top: 5px;
  justify-content: right;
  vertical-align: middle;
  margin-top: 4px;
  margin-right: 20px;
  width: auto;
}

.telephone {
  display: inline-block;
  position: relative;
  height: auto;
  text-align: center;
  width: 56px;
  margin-left: 10px;
  align-items: center center;
  padding-top: 15px;
}

.telephone .fa-phone-alt {
  display: inline-block;
  height: auto;
  color: gray;
  transform: scale(3);
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -ms-transform: scale(3);
  -o-transform: scale(3);
}

.btn-support {
  text-align: right;
  background-color: #4183d7;
  display: none;
  height: 56px;
  width: 150px;
  margin-left: 20px;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 46px;
  font-size: 1.1rem;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
}

.btn-support .fa-mouse {
  float: left;
  margin-top: 13px;
  margin-left: 13px;
  color: #fff;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.btn-contact {
  background-color: #7E808a;
  text-align: right;
  display: none;
  height: 56px;
  width: 150px;
  margin-left: 20px;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  border-radius: 5 px;
  line-height: 46px;
  font-size: 1.1rem;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
  -webkit-border-radius: 5 px;
  -moz-border-radius: 5 px;
  -ms-border-radius: 5 px;
  -o-border-radius: 5 px;
}

.btn-contact .fa-paper-plane {
  float: left;
  margin-top: 13px;
  margin-left: 13px;
  color: #fff;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.search-form {
  display: none;
  max-width: 99%;
}

.search-btn {
  display: none;
  height: 56px;
  width: 60px;
  position: relative;
  background-color: #7E808a;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: none;
  border-width: 0px;
}

.fa-search {
  display: none;
  margin-left: 0;
  color: #fff;
  transform: scale(2.4);
  -webkit-transform: scale(2.4);
  -moz-transform: scale(2.4);
  -ms-transform: scale(2.4);
  -o-transform: scale(2.4);
}

.search-bar {
  display: none;
  margin-left: 0px;
  height: 56px;
  width: 100%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.ham-box {
  display: inline-block;
  margin-right: 10px;
  margin-left: 20px;
  outline: hidden;
}

.ham-box .hamburger {
  height: 54px;
  width: 56px;
  padding: 0;
  background-color: #333645;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  border-radius: 3px;
  cursor: pointer;
  transition-property: opacity,-webkit-filter;
  transition-property: opacity,filter;
  transition-property: opacity,filter,-webkit-filter;
  transition-duration: .15s;
  transition-timing-function: linear;
  font: inherit;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-width: 0px;
  outline: hidden;
}

.ham-box .title {
  justify-content: center;
  color: #fff;
  bottom: 0;
  display: none;
}

.ham-box .fa-bars {
  color: #fff;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  margin-bottom: 2px;
}

.search-xs {
  display: inline-block;
  width: 99%;
  height: 80px;
}

.search-xs .search-bar-xs {
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  /*Font&Text*/
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 21.4px;
  text-decoration: #555555;
  text-align: start;
  text-indent: 0px;
  text-transform: none;
  vertical-align: baseline;
  white-space: normal;
  word-spacing: 0px;
  /*Color&Background*/
  background-color: rgba(0, 0, 0, 0.1);
  background-position: 0% 0%;
  color: #555555;
  /*Box*/
  height: 47px;
  padding: 5px 40px;
  /*Effects*/
  transform: none;
  transition: 0;
  outline: 0;
  outline-offset: 0px;
  box-sizing: border-box;
  resize: none;
  text-shadow: none;
  text-overflow: clip;
  word-wrap: normal;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-transition: 0;
  -moz-transition: 0;
  -ms-transition: 0;
  -o-transition: 0;
}

.search-xs .search-btn-s {
  float: right;
  display: block;
  margin-top: 0px;
  position: relative;
  top: -35px;
  right: 30px;
  height: auto;
  border-width: 0;
  background-origin: padding-box;
  background-clip: border-box;
  overflow: hidden;
  background: none;
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.material-icons {
  background: none;
  display: inline-block;
}

/* Navigation menu */
.container {
  display: none;
}

.nav-bar {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: #333645;
  color: #fff;
  font-weight: 400;
  font-size: .625rem;
  padding-left: 40px;
  justify-content: center;
  justify-self: center;
  align-content: center;
  align-self: center;
  padding-right: 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  list-style: none;
  height: 99px;
  line-height: 1;
  text-decoration: none;
  /* web drop menu*/
}

.nav-bar li {
  display: inline-block;
  position: relative;
  width: 192px;
  height: 99px;
  text-align: center;
  color: #fff;
  margin-top: 0px;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  border-right: groove 0.5px #857c91;
}

.nav-bar li li:last-child {
  border-right: groove 1px #857c91;
}

.nav-bar li:first-child {
  border-left: groove 1px #857c91;
}

.nav-bar a {
  padding-top: 19px;
  padding-bottom: 18px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-left: 0;
}

.nav-bar a small {
  display: block;
  font-size: 0.800rem;
}

.nav-bar .drop {
  display: none;
  position: absolute;
  top: 100%;
  left: -1px;
  right: -1px;
  width: 100vw;
  padding-left: 0px;
  text-align: center;
  background-color: #79539a;
}

.nav-bar .drop ::before {
  content: "";
  display: block;
  position: absolute;
  width: 500px;
  height: 50px;
  top: 0;
  right: 100%;
  background-color: #79539a;
}

.nav-bar .drop .web-li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  height: 50px;
  text-align: center;
  background-color: #79539a;
}

.nav-bar .drop a {
  height: 50px;
  display: block;
  text-align: left;
  margin-right: 35px;
  width: auto;
  padding: 20px 5px;
  font-size: 14px;
  border-width: 0;
}

.nav-bar .drop a::after {
  content: "-";
  color: #fff;
  width: 15px;
  height: 1px;
  margin-left: 20px;
}

.nav-bar .drop a:last-child::after {
  content: "";
}

.nav-bar .drop2 {
  display: none;
  position: absolute;
  top: 100%;
  left: -192px;
  right: 100%;
  width: 100vw;
  padding-left: 0px;
  text-align: center;
  background-color: #4183d7;
}

.nav-bar .drop2 ::before {
  content: "";
  display: block;
  position: absolute;
  width: 1000px;
  height: 50px;
  top: 0;
  right: 100%;
  background-color: #4183d7;
}

.nav-bar .drop2 .it-li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  height: 50px;
  text-align: center;
  background-color: #4183d7;
}

.nav-bar .drop2 a {
  height: 50px;
  display: block;
  text-align: center;
  margin-right: 25px;
  width: auto;
  padding: 20px 5px;
  font-size: 14px;
  border-width: 0;
  text-align: center;
}

.nav-bar .drop2 a::after {
  content: "-";
  color: #fff;
  width: 15px;
  height: 2px;
  margin-left: 25px;
}

.nav-bar .drop2 a:last-child::after {
  content: "";
}

.nav-bar .drop3 {
  display: none;
  position: absolute;
  top: 100%;
  left: -384px;
  right: 100%;
  width: 100vw;
  padding-left: 0px;
  text-align: center;
  background-color: #d64541;
}

.nav-bar .drop3 ::before {
  content: "";
  display: block;
  position: absolute;
  width: 1000px;
  height: 50px;
  top: 0;
  right: 100%;
  background-color: #d64541;
}

.nav-bar .drop3 .tel-li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  height: 50px;
  text-align: center;
  background-color: #d64541;
}

.nav-bar .drop3 a {
  height: 50px;
  display: block;
  text-align: center;
  margin-right: 30px;
  width: auto;
  padding: 20px 5px;
  font-size: 14px;
  border-width: 0;
  text-align: center;
}

.nav-bar .drop3 a::after {
  content: "-";
  color: #fff;
  width: auto;
  height: auto;
  margin-left: 30px;
}

.nav-bar .drop3 a:last-child::after {
  content: "";
}

.nav-bar .drop4 {
  display: none;
  position: absolute;
  top: 100%;
  left: -576px;
  right: 100%;
  width: 100vw;
  padding-left: 0px;
  text-align: left;
  background-color: #67809f;
}

.nav-bar .drop4 ::before {
  content: "";
  display: block;
  position: absolute;
  width: 1000px;
  height: 50px;
  top: 0;
  right: 100%;
  background-color: #67809f;
}

.nav-bar .drop4 .sof-li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  height: 50px;
  text-align: center;
  background-color: #67809f;
}

.nav-bar .drop4 a {
  height: 50px;
  display: block;
  text-align: center;
  margin-right: 25px;
  width: auto;
  padding: 20px 5px;
  font-size: 14px;
  border-width: 0;
  text-align: left;
}

.nav-bar .drop4 a::after {
  content: "-";
  color: #fff;
  margin-left: 25px;
}

.nav-bar .drop4 a:last-child::after {
  content: "";
}

.nav-bar .drop5 {
  display: none;
  position: absolute;
  top: 100%;
  left: -768px;
  right: 100%;
  width: 100vw;
  padding-left: 0px;
  text-align: center;
  background-color: #2eec71;
}

.nav-bar .drop5 ::before {
  content: "";
  display: block;
  position: absolute;
  width: 1000px;
  height: 50px;
  top: 0;
  right: 100%;
  background-color: #2eec71;
}

.nav-bar .drop5 .mar-li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  height: 50px;
  text-align: center;
  background-color: #2eec71;
}

.nav-bar .drop5 a {
  height: 50px;
  display: block;
  text-align: center;
  margin-right: 10px;
  width: 191.5px;
  padding: 20px 5px;
  font-size: 14px;
  border-width: 0;
  text-align: left;
}

.nav-bar .drop5 a::after {
  content: "-";
  color: #fff;
  margin-left: 60px;
}

.nav-bar .drop5 a:last-child::after {
  content: "";
}

.nav-bar .drop6 {
  display: none;
  position: absolute;
  top: 100%;
  left: -960px;
  right: 100%;
  width: 100vw;
  padding-left: 0px;
  text-align: center;
  background-color: #f62459;
}

.nav-bar .drop6 ::before {
  content: "";
  display: block;
  position: absolute;
  width: 1000px;
  height: 50px;
  top: 0;
  right: 100%;
  background-color: #f62459;
}

.nav-bar .drop6 .sec-li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: auto;
  height: 50px;
  text-align: center;
  background-color: #f62459;
}

.nav-bar .drop6 a {
  height: 50px;
  display: block;
  text-align: center;
  margin-right: 25px;
  width: auto;
  padding: 20px 5px;
  font-size: 14px;
  border-width: 0;
  text-align: center;
}

.nav-bar .drop6 a::after {
  content: "-";
  color: #fff;
  margin-left: 35px;
}

.nav-bar .drop6 a:last-child::after {
  content: "";
}

.icn-web {
  color: #926fb1;
}

.icn-it {
  color: #4183d7;
}

.icn-telecoms {
  color: #d64541;
}

.icn-bespoke {
  color: #67809f;
}

.icn-digital {
  color: #2eec71;
}

.icn-cyber {
  color: #f62459;
}

.icn-develop {
  color: #926fb1;
}

/*image carousel*/
.img-scroll {
  display: flex;
  color: #fff;
  justify-content: center;
  height: 625px;
}

.img-scroll .itsupport {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-57sJ.webp);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: 100% 100%;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}

.img-scroll .it-text {
  position: relative;
  vertical-align: middle;
  margin-left: 0;
  margin-top: 10%;
  color: #fff;
  font-size: 20px;
  width: 100%;
  padding-left: 20px;
  padding-top: 60px;
  height: 50%;
  text-align: center;
}

.img-scroll .it-text h1 {
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 400;
}

.img-scroll .it-text a {
  display: inline-block;
  background-color: #4183d7;
  padding: 5px 20px;
  height: auto;
  line-height: 50px;
  font-size: 1.25rem;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.img-scroll .it-text .arrow-it {
  margin-left: 12px;
}

/*cards*/
.cards {
  display: flex;
  font-size: 14px;
  background-color: #fff;
  width: 100%;
  justify-content: center;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.crd-place {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  justify-self: center;
  width: 95%;
  margin-left: 10px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.card-soft {
  height: 300px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 15px;
  padding-top: 30px;
  width: 100%;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  justify-content: center;
}

.card-soft p {
  text-justify: auto;
  justify-content: center;
  color: #000;
}

.card-soft button {
  justify-content: center;
  height: 50px;
  background-color: #67809f;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  font-size: 20px;
  border-width: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.card-soft .icn-bespoked {
  transform: scale(1.5);
  border: solid 1px #67809f;
  padding: 20px;
  border-radius: 50%;
  color: #fff;
  padding: 12px;
  margin-bottom: 5px;
  background-color: #67809f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.card-it {
  height: 300px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 15px;
  padding: 10px 30px 30px;
  width: 100%;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  justify-content: center;
}

.card-it p {
  color: #000;
}

.card-it button {
  justify-content: center;
  height: 50px;
  background-color: #4183d7;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  font-size: 20px;
  border-width: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.card-it .icn-its {
  transform: scale(1.5);
  border: solid 1px #4183d7;
  padding: 20px;
  border-radius: 50%;
  color: #fff;
  padding: 12px;
  margin-top: 5px;
  background-color: #4183d7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.card-digital {
  height: 300px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 15px;
  padding: 10px 30px 30px;
  width: 100%;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  justify-content: center;
}

.card-digital .icn-digitalm {
  transform: scale(1.5);
  border: solid 1px #2eec71;
  padding: 20px;
  border-radius: 50%;
  color: #fff;
  padding: 12px;
  margin-top: 5px;
  background-color: #2eec71;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.card-digital button {
  justify-content: center;
  height: 50px;
  background-color: #2ece71;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  font-size: 20px;
  border-width: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.card-telecoms {
  height: 300px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 30px 30px;
  width: 100%;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  justify-content: center;
}

.card-telecoms .icn-telecom {
  transform: scale(1.5);
  border: solid 1px #d64541;
  padding: 20px;
  border-radius: 50%;
  color: #fff;
  padding: 12px;
  margin-top: 5px;
  background-color: #d64541;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.card-telecoms button {
  justify-content: center;
  height: 50px;
  background-color: #d64541;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  font-size: 20px;
  border-width: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.card-web {
  height: 300px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 30px 30px;
  width: 100%;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  justify-content: center;
}

.card-web .icn-web {
  transform: scale(1.5);
  border: solid 1px #926fb1;
  padding: 20px;
  border-radius: 50%;
  color: #fff;
  padding: 12px;
  margin-top: 5px;
  background-color: #926fb1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.card-web button {
  justify-content: center;
  height: 50px;
  background-color: #926fb1;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  font-size: 20px;
  border-width: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.card-cyber {
  height: 300px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 30px 30px;
  width: 100%;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  justify-content: center;
}

.card-cyber .icn-cybers {
  transform: scale(1.5);
  border: solid 1px #de093f;
  padding: 20px;
  border-radius: 50%;
  color: #fff;
  padding: 12px;
  margin-top: 5px;
  background-color: #de093f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.card-cyber button {
  justify-content: center;
  height: 50px;
  background-color: #de093f;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  font-size: 20px;
  border-width: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.card-develop {
  height: 300px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 30px 30px;
  width: 100%;
  text-align: center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  justify-content: center;
}

.card-develop .icn-train {
  transform: scale(1.5);
  border: solid 1px #79539a;
  padding: 20px;
  border-radius: 50%;
  color: #fff;
  padding: 12px;
  margin-top: 5px;
  background-color: #79539a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.card-develop button {
  justify-content: center;
  height: 50px;
  background-color: #79539a;
  background-color-justify-content: center;
  background-color-height: 50px;
  background-color-background-color: #4183d7;
  background-color-color: #fff;
  background-color-text-transform: uppercase;
  background-color-padding: 10px;
  background-color-font-size: 20px;
  background-color-border-width: 0;
  background-color-border-radius: 6px;
  background-color--webkit-border-radius: 6px;
  background-color--moz-border-radius: 6px;
  background-color--ms-border-radius: 6px;
  background-color--o-border-radius: 6px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  font-size: 20px;
  border-width: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

/*company information*/
.about {
  display: flex;
  background-image: url(http://www.netmatters.co.uk/assets/images/branded.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: auto 100%;
  background-color: #333645;
  color: #fff;
  justify-content: center;
  height: 600px;
}

.about .info {
  max-height: 600px;
  width: 100%;
  font-size: 1rem;
  margin-left: 10px;
  padding-left: 130px;
  padding-top: 50px;
}

.about .info .info-text {
  width: 80%;
  max-height: 600px;
}

.about .info .info-text h1 {
  font-weight: 700;
  font-size: 2.2rem;
}

.about .info .info-text p {
  margin-bottom: 40px;
}

.about .info .info-text a {
  position: relative;
  background-color: #fff;
  color: #333645;
  padding: 15px;
  font-size: 1.063rem;
  text-transform: uppercase;
  margin-top: 40px;
}

.about .info .info-text .arrow {
  margin-left: 5px;
}

/* Latest News*/
.news {
  height: 700px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.news ul {
  display: flex;
  justify-content: left;
  width: 1375px;
  margin: auto;
}

@media (max-width: 992) {
  .news ul {
    width: 850px;
  }
}

.news .active {
  height: 70px;
  width: 100%;
  list-style: none;
  padding-left: 0px;
}

.news .active span {
  font-size: 1.25rem;
  font-weight: 600;
  color: #333645;
  margin-left: 0;
}

.news .active .line {
  background-color: #333645;
  width: 62px;
  height: 5px;
  margin-top: 35px;
  position: absolute;
}

.news .break {
  height: 1px;
  width: 80%;
  background-color: #ccc;
  justify-self: center;
  align-self: center;
  margin-top: 20px;
}

.news .stories {
  padding-top: 20px;
  background-color: #f0f0f0;
  width: 5000px;
}

.news .stories .articles {
  width: 1298px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 550px;
}

@media (max-width: 992px) {
  .news .stories .articles {
    width: 850px;
    padding: 0 75px;
  }
}

.news .stories .articles .art {
  border: solid 2px #ccc;
  background-color: #fff;
}

.news .stories .articles .read {
  margin: 0 0px 20px 30px;
  height: auto;
  padding: 5px 15px;
  font-size: 1.063rem;
  line-height: 35px;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.news .stories .articles .text {
  padding: 20px 30px 20px 30px;
  margin-top: -10px;
}

.news .stories .articles .text p {
  display: block;
  color: #666;
  max-width: 100%;
  font-size: .8125rem;
}

.news .stories .articles h3 {
  margin-top: 20px;
  font-size: 1rem;
  padding-left: 30px;
}

.news .stories .articles .avatar {
  width: 60px;
  height: 60px;
  margin: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.news .stories .articles .img-wrap {
  overflow: hidden;
  width: 100%;
  height: auto;
}

.news .stories .articles .img-wrap .img-top {
  width: 100%;
  position: relative;
  justify-content: center;
}

.news .stories .articles .art-1 {
  display: flex;
  flex-direction: column;
  width: 337.6px;
}

.news .stories .articles .art-1 h3 {
  color: #926fb1;
  display: block;
}

.news .stories .articles .art-1 .read-1 {
  background-color: #926fb1;
  color: #fff;
  width: 140px;
}

.news .stories .articles .art-1 .user {
  display: flex;
  flex-direction: row;
}

.news .stories .articles .art-1 .user .details {
  position: relative;
  margin: 20px;
  margin-top: 30px;
}

.news .stories .articles .art-2 {
  width: 337.6px;
  display: flex;
  flex-direction: column;
}

.news .stories .articles .art-2 h3 {
  color: #2ecc71;
}

.news .stories .articles .art-2 .read-2 {
  background-color: #2ecc71;
  color: #fff;
  width: 140px;
}

.news .stories .articles .art-2 .user {
  display: flex;
  flex-direction: row;
}

.news .stories .articles .art-2 .user .details {
  position: relative;
  margin: 20px;
  margin-top: 30px;
}

.news .stories .articles .art-3 {
  width: 337.6px;
  margin-right: 0px;
  display: none;
  flex-direction: column;
}

.news .stories .articles .art-3 h3 {
  color: #2ecc71;
  margin-bottom: 20px;
}

.news .stories .articles .art-3 .text {
  padding-top: 0;
}

.news .stories .articles .art-3 .read-3 {
  background-color: #2ecc71;
  color: #fff;
  width: 140px;
}

.news .stories .articles .art-3 .user {
  display: flex;
  flex-direction: row;
}

.news .stories .articles .art-3 .user .details {
  position: relative;
  margin: 20px;
  margin-top: 30px;
}

/* Accreditation */
.credit {
  height: 125px;
  width: 100%;
  align-content: center;
  padding: 15px;
}

.credit .cred {
  padding: 10px 10px;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

@media (max-width: 992px) {
  .credit .cred {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .credit .cred {
    width: 75%;
  }
}

@media (max-width: 992px) {
  .credit .cred .busseys img {
    width: 120px;
  }
}

@media (min-width: 992px) {
  .credit .cred .busseys img {
    width: auto;
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  .credit .cred .crane img {
    width: 120px;
  }
}

@media (max-width: 992px) {
  .credit .cred .beat img {
    width: 40px;
  }
}

@media (max-width: 992px) {
  .credit .cred .north img {
    width: 120px;
  }
}

.credit .cred .tooltip-1 {
  position: absolute;
  top: 2668px;
  left: 270px;
  visibility: hidden;
  border-bottom: 1px dotted black;
  height: 150px;
  width: 250px;
  background-color: #333645;
  text-align: center;
  color: #fff;
  padding: 0 5px;
}

.credit .cred .tooltip-1 .line {
  background-color: #fff;
  width: 30px;
  height: 3px;
  margin-left: 105px;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .credit .cred .tooltip-1 {
    position: absolute;
    top: 4227px;
    left: 0;
    width: 150px;
  }
  .credit .cred .tooltip-1 .line {
    margin-left: 50px;
  }
}

.credit .cred .tooltip-1::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -25px;
  border-width: 25px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}

.credit .cred .tooltip-2 {
  position: absolute;
  top: 2618px;
  left: 630px;
  visibility: hidden;
  border-bottom: 1px dotted black;
  height: 200px;
  width: 250px;
  background-color: #333645;
  text-align: center;
  color: #fff;
  padding: 0 15px;
}

.credit .cred .tooltip-2 .line-2 {
  background-color: #fff;
  width: 30px;
  height: 3px;
  margin-left: 90px;
  margin-bottom: 20px;
}

.credit .cred .tooltip-2::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -25px;
  border-width: 25px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}

.credit .cred .tooltip-3 {
  position: absolute;
  top: 2668px;
  left: 990px;
  visibility: hidden;
  border-bottom: 1px dotted black;
  height: 150px;
  width: 250px;
  background-color: #333645;
  text-align: center;
  color: #fff;
  padding: 0 15px;
}

.credit .cred .tooltip-3 .line-3 {
  background-color: #fff;
  width: 30px;
  height: 3px;
  margin-left: 95px;
  margin-bottom: 20px;
}

.credit .cred .tooltip-3::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -25px;
  border-width: 25px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}

.credit .cred .tooltip-4 {
  position: absolute;
  top: 2618px;
  left: 1330px;
  visibility: hidden;
  border-bottom: 1px dotted black;
  height: 200px;
  width: 250px;
  background-color: #333645;
  text-align: center;
  color: #fff;
  padding: 0 15px;
}

.credit .cred .tooltip-4 .line-4 {
  background-color: #fff;
  width: 30px;
  height: 3px;
  margin-left: 90px;
  margin-bottom: 20px;
}

.credit .cred .tooltip-4::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -25px;
  border-width: 25px;
  border-style: solid;
  border-color: #333645 transparent transparent transparent;
}

.credit .coloured {
  display: none;
}

/* Footer */
footer {
  background-color: #333645;
  color: #fff;
  text-decoration: none;
  padding: 47px 150px 43px 150px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer ul {
  list-style: none;
}

.ft-align {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 0 150px;
}

.ft-align h4 {
  text-align: left;
}

.contacts {
  width: 100%;
  margin-left: 0px;
}

.contacts ul {
  padding-left: 0px;
  text-align: left;
}

.comp {
  width: 100%;
  text-align: left;
}

.comp ul {
  text-align: left;
  padding-left: 0;
}

.website {
  width: 100%;
  text-align: left;
}

.website ul {
  padding-left: 0;
}

.social {
  width: 100%;
}

.social .social-media {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: left;
}

.social .faces {
  background-color: #262934;
  width: 45%;
  cursor: pointer;
  text-align: center;
  font-size: 1.75rem;
  padding: 10px;
  margin-top: 30px;
  margin-right: 10px;
}

.social .faces i {
  font-size: 1.75rem;
}

.social .twits {
  background-color: #262934;
  width: 45%;
  height: auto;
  margin-top: 30px;
  cursor: pointer;
  text-align: center;
  font-size: 1.75rem;
  padding: 10px;
  margin-right: 10px;
}

.social .twits i {
  font-size: 1.75rem;
}

.social .linkd {
  background-color: #262934;
  width: 45%;
  height: auto;
  margin-top: 30px;
  cursor: pointer;
  text-align: center;
  font-size: 1.75rem;
  padding: 10px;
  margin-right: 10px;
}

.social .linkd i {
  font-size: 1.75rem;
}

.partners {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 100%;
  padding: 20px 130px 20px 80px;
  justify-content: center;
  align-content: center;
}

.partners .part {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  vertical-align: middle;
}

.partners .coloured {
  display: none;
}

.silver {
  margin-top: 35px;
}

.further {
  margin-top: 35px;
}

.QMS {
  margin-top: 35px;
}

.carbon {
  margin-top: 35px;
}

.google {
  position: relative;
  width: 200px;
  height: 200px;
  margin-right: 0;
  margin-left: -30px;
}

.google .goo {
  width: 350px;
  position: absolute;
  height: 140px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: -20px;
  border: solid 2px #ccc;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  background-color: transparent;
}
