

@media (min-width: 768px) {
    
  .search-bar {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    display: inline-block;
  }

  .search-form{
    display: inline-block;
    width: fit-content;
  }

  .fa-search{
    display:inline-block;
  }

  .logo{
    max-width: 90%;
    max-height: fit-content;
    margin-bottom: 0;
    align-self: auto ;
  }
   
  .action{ 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: right;
    width: auto;
    margin-top: 4px;
    margin-left: 0px;
  }

  .ham-box{
    display: inline-block;
    top:29px;
  }
  
  .telephone{
    display: none;
  }

  .search-btn {
    display: inline-block;
    margin-right: 20px;
    margin-left: -15px;
  }

  .search-xs{
    display: none;
    }

  .search-form-xs{
    display: none;
  }

  .search-bar-xs{
    display:none;
    
  }

  .search-btn-s{
    display:none;
  }

  .material-icons{
    display: none;
  }

  .container{
    display:inline-block;
    width: 100%;

    ul{
      width: 100%;
    }
  }

  
  .info{
    width:80%;
  }

  .info-text{
    width:100%;
  }

  .card-soft{
    width: 100%;
    margin-right: 0;
  }

  .card-it{
    width: 100%;
    margin-right: 0;
  }

  .card-digital{
    width: 100%;
    margin-right: 0;
  }

  .card-telecoms{
    width: 48.5%;
  }

  .card-web{
    width: 48.5%;
  }

  .card-cyber{
    width: 48.5%;
  }

  .card-develop{
    width: 48.5%;
  }


  .ft-align{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
  }
 
  .contacts{ 
    //border: solid 1px red;
    width:50%;
    margin-left: 0px;

    ul{
       padding-left:0px;
       text-align: left;
    }
  }
 
 .comp{
    //border: solid 1px red;
    width: 50%;
 }
 
 .website{
    //border: solid 1px red;
    width: 50%;
 }
 
 .social{
    //border: solid 1px red;
    width: 50%;
 }

}
 
@media (min-width: 992px) {
   
  .btn-contact {
    display: inline-block;
  }

  .btn-support {
    display: inline-block;
  }

  .search-bar{
    display:none;
  }

  .search-btn {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  .title{
    display: inline-block;
    align-self: left;
    text-align: bottom;
  }

  .header-inner{
    justify-content: center;

  }

  .itsupport{
    .it-text{
      text-align: left;
    }
  }

  .card-soft{
    width: 32%;
    margin-right: 0;
  }

  .card-it{
    width: 32%;
    margin-right: 0;
  }

  .card-digital{
    width: 32%;
    margin-right: 0;
  }

  .card-telecoms{
    width: 48.5%;
  }

  .card-web{
    width: 48.5%;
  }

  .card-cyber{
    width: 48.5%;
  }

  .card-develop{
    width: 48.5%;
  }

  .info-text{
    width: 100%;
  }

  /* footer */

  .contacts{
    //border: solid 1px red;
    width:50%;
    margin-left: 0px;
    ul{
       padding-left:0px;
       text-align: left;
    }
  }

  .comp{
    //border: solid 1px red;
    width: 50%;
  }
 
  .website{
    //border: solid 1px red;
    width: 50%;
  }
 
  .social{
    //border: solid 1px red;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .social-media{
      width: 100%;
    }

    .faces{
      width: 45%;
    }

    .twits{
      width: 45%;
    }

    .linkd{
      width: 45%;
    }
  }

}

@media (min-width: 1260px) {
   
  .search-bar {
    display: inline-block;
    margin-left: 20px;
  }

  .action{
    justify-self: right;
    width:auto;
  }

  .search-btn{
    margin-left: -15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .crd-place{
    width:1268px;
    height: auto;
    justify-content: left;
  }

  .cards{
    justify-items: center;
    align-content: center;
  }

  .card-soft{
    width: 31.66%;
    margin-right: 0;
  }

  .card-it{
    width: 31.66%;
    margin-right: 0;
  }

  .card-digital{
    width: 31.66%;
    margin-right: 0;
  }

  .card-telecoms{
    width: 23.55%;
  }

  .card-web{
    width: 23.55%;
  }

  .card-cyber{
    width: 23.55%;
  }

  .card-develop{
    width: 23.55%;
  }

  .info{
    width: 1200px;

    .info-text{
      width: 50%;
    }
  }

  footer{
    align-content: center;
  }

  .contacts{
    width: 25%;
  }

  .comp{
    width: 25%;
  }

  .website{
    width: 25%;
  }

  .social{
    width: 25%;
  }

  .social-media{
    width: 100%;
    h4{
      text-align: center;
      width: 100%;
    }
    text-align: center;
  }

  .faces{
    width: 45%;
  }

}
 









