

@media (min-width: 768px) {
    
  .search-bar {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    display: inline-block;
  }

  .search-form{
    display: inline-block;
    width: fit-content;
  }

  .fa-search{
    display:inline-block;
  }

  .logo{
    max-width: 90%;
    max-height: fit-content;
    margin-bottom: 0;
    align-self: auto ;
  }
   
  .action{ 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: right;
    width: auto;
    margin-top: 4px;
    margin-left: 0px;
  }

  .ham-box{
    display: inline-block;
    top:29px;
  }
  
  .telephone{
    display: none;
  }

  .search-btn {
    display: inline-block;
    margin-right: 20px;
    margin-left: -15px;
  }

  .search-xs{
    display: none;
    }

  .search-form-xs{
    display: none;
  }

  .search-bar-xs{
    display:none;
    
  }

  .search-btn-s{
    display:none;
  }

  .material-icons{
    display: none;
  }

  .container{
    display:inline-block;
    width: 100%;

    .nav-bar-align{
      width: 100%;
      
      li{
        // max-width: 192px;
        justify-items: center;
      }
    }
  }

  /* Cards */

  .card-soft{
    width: 100%;
    margin-right: 0;
  }

  .card-it{
    width: 100%;
    margin-right: 0;
  }

  .card-digital{
    width: 100%;
    margin-right: 0;
  }

  .card-telecoms{
    width: 48.5%;
  }

  .card-web{
    width: 48.5%;
  }

  .card-cyber{
    width: 48.5%;
  }

  .card-develop{
    width: 48.5%;
  }

  .about{
    .info{
      .info-text{
        max-width: 700px;
        padding-left: 70px;
      }
    }
  }

  .news{

    .stories{
      .articles{
        .art-2{
          display: flex;
        }
      }
    }
  }

  /* footer elements */

  .ft-align{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
  }
 
  .contacts{ 
    //border: solid 1px red;
    width:50%;
    margin-left: 0px;

    ul{
       padding-left:0px;
       text-align: left;
    }
  }
 
 .comp{
    //border: solid 1px red;
    width: 50%;
 }
 
 .website{
    //border: solid 1px red;
    width: 50%;
 }
 
 .social{
    //border: solid 1px red;
    width: 50%;
 }

 .partners{
   display: flex;
 }

}
 
@media (min-width: 992px) {
   
  .btn-contact {
    display: inline-block;
  }

  .btn-support {
    display: inline-block;
  }

  .search-bar{
    display:none;
  }

  .search-btn {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  .title{
    display: inline-block;
    align-self: left;
    text-align: bottom;
  }

  .header-inner{
    justify-content: center;

  }

  .itsupport{
    .it-text{
      text-align: left;
      padding-left: 390px;
      padding-top: 0;
    }
  }

  .card-soft{
    width: 32%;
    margin-right: 0;
  }

  .card-it{
    width: 32%;
    margin-right: 0;
  }

  .card-digital{
    width: 32%;
    margin-right: 0;
  }

  .card-telecoms{
    width: 48.5%;
  }

  .card-web{
    width: 48.5%;
  }

  .card-cyber{
    width: 48.5%;
  }

  .card-develop{
    width: 48.5%;
  }

  .info-text{
    width: 100%;
  }
  
  .news{
    .stories{
      .articles{
        .art-3{
          display:flex;
        }    
      }
    }
  }

  /* footer */

  .contacts{
    //border: solid 1px red;
    width:50%;
    margin-left: 0px;
    ul{
       padding-left:0px;
       text-align: left;
    }
  }

  .comp{
    //border: solid 1px red;
    width: 50%;
  }
 
  .website{
    //border: solid 1px red;
    width: 50%;
  }
 
  .social{
    //border: solid 1px red;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .social-media{
      width: 100%;
    }

    .faces{
      width: 45%;
    }

    .twits{
      width: 45%;
    }

    .linkd{
      width: 45%;
    }
  }

  .partners{
    .google{
      .goo{
        transform: scale(.5);
        -webkit-transform: scale(.5);
        -moz-transform: scale(.5);
        -ms-transform: scale(.5);
        -o-transform: scale(.5);
}
    }

    .silver{
      margin-top: 35px;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}

    .further{
      margin-top: 35px;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}
    
    .QMS{
      margin-top: 35px;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}

    .carbon{
      margin-top: 35px;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
}

  }

}

@media (min-width: 1260px) {
   
  .search-bar {
    display: inline-block;
    margin-left: 20px;
  }

  .action{
    justify-self: right;
    width:auto;
  }

  .search-btn{
    margin-left: -15px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .crd-place{
    width:1268px;
    height: auto;
    justify-content: left;
  }

  .cards{
    justify-items: center;
    align-content: center;
  }

  .card-soft{
    width: 30%;
    margin-right: 23.5px;
    margin-left: 10px;
  }

  .card-it{
    width: 30%;
    margin-right: 23.5px;
  }

  .card-digital{
    width: 30%;
    margin-right: 0;
  }

  .card-telecoms{
    width: 22.5%;
    margin-right: 12.5px;
  }

  .card-web{
    width: 22.5%;
    margin-right: 12.5px;
  }

  .card-cyber{
    width: 22.5%;
    margin-right: 12.5px;
  }

  .card-develop{
    width: 22.5%;
  }

  .info{
    width: 100%;

    .info-text{
      width: 100%;
      margin-left:250px;
    }
  }

  footer{
    align-content: center;
  }

  .contacts{
    width: 25%;
  }

  .comp{
    width: 25%;
  }

  .website{
    width: 25%;
  }

  .social{
    width: 25%;
  }

  .social-media{
    width: 100%;
    h4{
      text-align: center;
      width: 100%;
    }
    text-align: center;
  }

  .faces{
    width: 45%;
  }

}

/*IE Media Queries*/

@media (-ms-high-contrast: none), (-ms-high-contrast: active) { 

}







